interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: '<!doctype html><html><head><script data-id="_gd">window.WIZ_global_data
        = {"SNlM0e":"SCRUBBED_CSRF","FdrFJe":"SCRUBBED_SESSION"};</script></head><body></body></html>'
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22hPTbtc%22%2C%22%5B%5B%5D%2Cnull%2C%5C%22f59447f4-2a13-4d64-9df8-bc89c615c7bd%5C%22%2C20%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768312296889&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=hPTbtc&source-path=%2Fnotebook%2Ff59447f4-2a13-4d64-9df8-bc89c615c7bd&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ')]}''

        149

        [["wrb.fr","hPTbtc","[[[\"b1556695-010e-4fe3-a841-a6efa7fe0697\"]]]",null,null,null,"generic"],["di",307],["af.httprm",307,"5918204557847671594",10]]

        23

        [["e",4,null,null,187]]

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22khqZz%22%2C%22%5B%5B%5D%2Cnull%2Cnull%2C%5C%22b1556695-010e-4fe3-a841-a6efa7fe0697%5C%22%2C2%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768312296889&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=khqZz&source-path=%2Fnotebook%2Ff59447f4-2a13-4d64-9df8-bc89c615c7bd&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ')]}''

        412

        [["wrb.fr","khqZz","[[[null,null,2,null,[[\"Based
        on the sources provided, you can ask about the main topics and themes covered
        in these documents. For example, you might ask about the key concepts, the
        authors main arguments, or how the different sources relate to each other.\"]]],[null,null,1,\"What question should I ask?\"]]]",null,null,null,"generic"],["di",308],["af.httprm",308,"5918204557847671595",10]]

        23

        [["e",4,null,null,188]]

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
