interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta property=\"og:title\" content=\"Google
        NotebookLM | Note Taking &amp; Research Assistant Powered by AI\"><meta property=\"og:image\"
        content=\"https://notebooklm.google.com/_/static/branding/v5/og/noteboo[...]
- request:
    body: f.req=%5B%5B%5B%22cFji9%22%2C%22%5B%5C%22167481cd-23a3-4331-9a45-c8948900bf91%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768312231528&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=cFji9&source-path=%2Fnotebook%2F167481cd-23a3-4331-9a45-c8948900bf91&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ')]}''


        3888

        [["wrb.fr","cFji9","[[[\"608891fc-71f7-421f-86a6-dcc2a3125633\",[\"608891fc-71f7-421f-86a6-dcc2a3125633\",\"{\\n  \\\"name\\\":
        \\\"Building a True AI Agent (Learn Claude Code)\\\",\\n  \\\"children\\\":
        [\\n    {\\n      \\\"name\\\": \\\"Core Philosophy\\\",\\n      \\\"children\\\":
        [\\n        { \\\"name\\\": \\\"Model as Agent\\\" },\\n        { \\\"name\\\":
        \\\"Model is 80%, Code is 20%\\\" },\\n        { \\\"name\\\": \\\"Tools let
        models act; Skills let models know how\\\" },\\n        { \\\"name\\\": \\\"Knowledge
        Externalization\\\" }\\n      ]\\n    },\\n    {\\n      \\\"name\\\": \\\"Agent
        Development Stages\\\",\\n      \\\"children[...]
