interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebook.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Gemini
        Notebook</title><link rel=\"canonical\" href=\"https://notebook.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, Gemini Notebook is your powerful virtual research assistant
        rooted in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\[...]
- request:
    body: f.req=%5B%5B%5B%22te3DCe%22%2C%22%5B%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2C%5C%2200000000-0000-4000-8000-000000000005%5C%22%2C%5C%22VCR%20CopyProject%20Regression%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788032331973&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=te3DCe&source-path=%2Fnotebook%2F00000000-0000-4000-8000-000000000005&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n338\n[[\"wrb.fr\",\"te3DCe\",\"[\\\"VCR CopyProject Regression\\\",null,\\\"00000000-0000-4000-8000-000000000006\\\",\\\"\U0001F4E4\\\",null,[1,false,true,null,null,null,1,false,[1788032332,486064000],null,null,null,false,true,1,false,null,true,3,null,null,null,false,null,null,1]]\",null,null,null,\"generic\"],[\"di\",1451],[\"af.httprm\",1451,\"-6593104211344513788\",10]]\n23\n[[\"e\",4,null,null,376]]\n"
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22WWINqb%22%2C%22%5B%5B%5C%2200000000-0000-4000-8000-000000000006%5C%22%5D%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788032331973&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=WWINqb&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        106

        [["wrb.fr","WWINqb","[]",null,null,null,"generic"],["di",1096],["af.httprm",1095,"326901600509592196",10]]

        23

        [["e",4,null,null,144]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
