interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebook.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Gemini
        Notebook</title><link rel=\"canonical\" href=\"https://notebook.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, Gemini Notebook is your powerful virtual research assistant
        rooted in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n193201\n[[\"wrb.fr\",\"wXbhsf\",\"[[[\\\"E2E-MultiSource-9a398e79\\\",[[[\\\"00000000-0000-4000-8000-000000000005\\\"],\\\"SCRUBBED_NAME\\\",[null,47,[1788108289,27826000],[\\\"00000000-0000-4000-8000-000000000006\\[...]
- request:
    body: f.req=%5B%5B%5B%22CCqFvf%22%2C%22%5B%5C%22VCR%20Transfer%20Regression%5C%22%2Cnull%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=CCqFvf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        322

        [["wrb.fr","CCqFvf","[\"VCR Transfer Regression\",null,\"00000000-0000-4000-8000-000000001007\",null,null,[1,false,true,null,null,null,1,null,null,null,null,null,false],null,null,null,null,null,[[\"00000000-0000-4000-8000-000000001008\"]]]",null,null,null,"generic"],["di",368],["af.httprm",367,"-4339397587528209703",10]]

        23

        [["e",4,null,null,360]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22X1snv%22%2C%22%5B%5B%5Bnull%2Cnull%2C%5B%5C%22https%3A%2F%2Fexample.com%2F%5C%22%5D%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C1%5D%5D%2C%5C%22c0c789b8-18aa-42e4-a0df-1bce766d86cd%5C%22%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8[...]
- request:
    body: f.req=%5B%5B%5B%22rLM1Ne%22%2C%22%5B%5C%22c0c789b8-18aa-42e4-a0df-1bce766d86cd%5C%22%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2Cnull%2C0%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=rLM1Ne&sourc[...]
- request:
    body: f.req=%5B%5B%5B%22hizoJc%22%2C%22%5B%5B%5C%22cefd04b6-8101-4cfb-82b8-91ba07ef3db5%5C%22%5D%2C%5B2%5D%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=hizoJc&source-path=%2Fnotebook%2Fc0c789b8-18aa-42e4-a0df-1bce766d86cd&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBB[...]
- request:
    body: f.req=%5B%5B%5B%22QsNTEd%22%2C%22%5Bnull%2C%5B%5C%22cefd04b6-8101-4cfb-82b8-91ba07ef3db5%5C%22%5D%2Cnull%2C%5Bnull%2C%5B%5C%22VCR%5C%22%2C%5C%22%5C%5Cn%5C%5CnVCR%20APPEND%20MARKER%5C%22%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=QsNTEd&source-path=%2Fnotebook%2Fc0c789b8-18aa-42e4-a0df-1bce766d86cd&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        106

        [["wrb.fr","QsNTEd","[]",null,null,null,"generic"],["di",400],["af.httprm",400,"-8499170796623688298",15]]

        23

        [["e",4,null,null,144]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: f.req=%5B%5B%5B%22R27wvc%22%2C%22%5Bnull%2Cnull%2C%5B%5B%5C%222d5bb053-a461-4997-a96b-3bd11f7ebd63%5C%22%5D%5D%2C%5C%22c0c789b8-18aa-42e4-a0df-1bce766d86cd%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=R27wvc&source-path=%2Fnotebook%2F341b2140-841b-4fb5-9396-e27[...]
- request:
    body: f.req=%5B%5B%5B%22gArtLc%22%2C%22%5B%5B2%5D%2C%5C%22a74ee9eb-27fc-47d8-93e4-2e98d34f90e1%5C%22%2C%5C%22NOT%20artifact.status%20%3D%20%5C%5C%5C%22ARTIFACT_STATUS_SUGGESTED%5C%5C%5C%22%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=gArtLc&source-path=%2Fnotebook%2F[...]
- request:
    body: f.req=%5B%5B%5B%22cFji9%22%2C%22%5B%5C%22a74ee9eb-27fc-47d8-93e4-2e98d34f90e1%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=cFji9&source-path=%2Fnotebook%2Fa74ee9eb-27fc-47d8-93e4-2e98d34f90e1&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        2647

        [["wrb.fr","cFji9","[[[\"00000000-0000-4000-8000-000000001015\",[\"00000000-0000-4000-8000-000000001015\",\"{\\n  \\\"name\\\":
        \\\"Machine Learning Fundamentals\\\",\\n  \\\"children\\\": [\\n    {\\n      \\\"name\\\":
        \\\"Core Types\\\",\\n      \\\"children\\\": [\\n        {\\n          \\\"name\\\":
        \\\"Supervised Learning\\\",\\n          \\\"children\\\": [\\n            {
        \\\"name\\\": \\\"Linear Regression\\\" },\\n            { \\\"name\\\": \\\"Decision
        Trees\\\" },\\n            { \\\"name\\\": \\\"Neural Networks\\\" }\\n          ]\\n        },\\n        {\\n          \\\"name\\\":
        \\\"Unsupervised Learning\\\",\\n          \[...]
- request:
    body: f.req=%5B%5B%5B%22mKDdke%22%2C%22%5B%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2C%5B%5C%22e5f24bc2-850f-4858-a7e5-fa3c219808f7%5C%22%5D%2C%5C%22c0c789b8-18aa-42e4-a0df-1bce766d86cd%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=mKDdke&source-path=%2Fnotebook%2Fa74ee9eb-27fc-47d8-93e4-2e98d34f90e1&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        10065

        [["wrb.fr","mKDdke","[[[\"00000000-0000-4000-8000-000000001013\",[\"00000000-0000-4000-8000-000000001017\",\"ML
        Quiz\",4,[[[\"00000000-0000-4000-8000-000000000019\"],null,8]],1,null,null,null,null,[null,[2,null,null,\"en\",null,null,null,[1,3],true],[\"{\\n  \\\"quiz\\\":
        [\\n    {\\n      \\\"question\\\": \\\"A model used for fraud detection incorrectly
        flags $30$ legitimate transactions as fraudulent while correctly identifying
        $70$ actual fraudulent transactions. Which metric is represented by the calculation
        $\\\\\\\\frac{70}{70 + 30}$?\\\",\\n      \\\"answerOptions\\\": [\\n        {\\n          \\\"text\\\":
        \\\"Precision\\\",\\n          \\\"isCorrect\\\": true,\\n          \\\"rationale\\\":
        \\\"This metric measures the ratio of true positives to the sum of true positives
        and false positives, focusing on the quality of positive predictions.\\\"\\n        },\\n        {\\n          \\\"text\\\":
        \\\"Recall\\\",\\n          \\\"isCorrect\\\": false,\\n          \\\"rationale\\\":
        \\\"This would require the number of false negatives (missed frauds) in the
        denominator rather than false positives (incorrect flags).\\\"\\n        },\\n        {\\n          \\\"text\\\":
        \\\"Accuracy\\\",\\n          \\\"isCorrect\\\": false,\\n          \\\"rationale\\\":
        \\\"This metric requires the total number of all predictions, including true
        negatives, in the denominator.\\\"\\n        },\\n        {\\n          \\\"text\\\":
        \\\"F1 Score\\\",\\n          \\\"isCorrect\\\": false,\\n          \\\"rationale\\\":
        \\\"This is a harmonic mean that integrates two different metrics rather than
        a simple ratio of positive classifications.\\\"\\n        }\\n      ],\\n      \\\"hint\\\":
        \\\"Focus on the specific penalty incurred by ''incorrectly flagging'' negative
        instances as positive.\\\"\\n    },\\n    {\\n      \\\"question\\\": \\\"In
        the context of unsupervised learning, which methodology is specifically utilized
        to simplify models by transforming a high-dimensional feature space into a
        lower-dimensional one?\\\",\\n      \\\"answerOptions\\\": [\\n        {\\n          \\\"text\\\":
        \\\"Dimensionality Reduction\\\",\\n   [...]
- request:
    body: f.req=%5B%5B%5B%22WWINqb%22%2C%22%5B%5B%5C%22c0c789b8-18aa-42e4-a0df-1bce766d86cd%5C%22%5D%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1788283002208&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=WWINqb&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        106

        [["wrb.fr","WWINqb","[]",null,null,null,"generic"],["di",550],["af.httprm",549,"-4727663493189699639",16]]

        23

        [["e",4,null,null,144]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
