interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\"th[...]
- request:
    body: f.req=%5B%5B%5B%22ciyUvf%22%2C%22%5B%5B2%5D%2C%5C%22c3f6285f-1709-44c4-9cd6-e95cf0ea4f5e%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1778884697745&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=ciyUvf&source-path=%2Fnotebook%2Fc3f6285f-1709-44c4-9cd6-e95cf0ea4f5e&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        1451

        [["wrb.fr","ciyUvf","[[[\"SCRUBBED_NAME\",\"A long-form plan for applying
        the source''s core methodologies within a professional organization.\",null,null,\"Provide
        a s[...]
