interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta property=\"og:title\" content=\"Google
        NotebookLM | Note Taking &amp; Research Assistant Powered by AI\"><meta property=\"og:image\"
        content=\"https://notebooklm.google.com/_/static/branding/v5/og/noteboo[...]
- request:
    body: f.req=%5B%5B%5B%22gArtLc%22%2C%22%5B%5B2%5D%2C%5C%22c3f6285f-1709-44c4-9cd6-e95cf0ea4f5e%5C%22%2C%5C%22NOT%20artifact.status%20%3D%20%5C%5C%5C%22ARTIFACT_STATUS_SUGGESTED%5C%5C%5C%22%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768359838558&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=gArtLc&source-path=%2Fnotebook%2Fc3f6285f-1709-44c4-9cd6-e95cf0ea4f5e&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ")]}'\n\n79986\n[[\"wrb.fr\",\"gArtLc\",\"[[[\\\"a0e4dca6-3bb0-4ed0-aea1-dfa91cf89767\\\",\\\"Agent
        Quiz\\\",4,[[[\\\"a474cd35-6c21-4e72-94a0-c38b5491b449\\\"]],[[\\\"735fcfef-9fbd-4c89-9789-6a9760587bec\\\"]],[[\[...]
- request:
    body: f.req=%5B%5B%5B%22v9rmvd%22%2C%22%5B%5C%22173255d8-12b3-4c67-b925-a76ce6c71735%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768359838558&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=v9rmvd&source-path=%2Fnotebook%2Fc3f6285f-1709-44c4-9cd6-e95cf0ea4f5e&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ')]}''


  [...]
