interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebooklm.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta property=\"og:title\" content=\"Google
        NotebookLM | Note Taking &amp; Research Assistant Powered by AI\"><meta property=\"og:image\"
        content=\"https://notebooklm.google.com/_/static/branding/v5/og/noteboo[...]
- request:
    body: f.req=%5B%5B%5B%22rLM1Ne%22%2C%22%5B%5C%22c3f6285f-1709-44c4-9cd6-e95cf0ea4f5e%5C%22%2Cnull%2C%5B2%5D%2Cnull%2C0%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1769205270619&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebooklm.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=rLM1Ne&source-path=%2Fnotebook%2Fc3f6285f-1709-44c4-9cd6-e95cf0ea4f5e&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ")]}'\n\n1453\n[[\"wrb.fr\",\"rLM1Ne\",\"[[\\\"TypeScript Fundamentals:
        A Handbook of Type Systems and Rules\\\",[[[\\\"fdfc8ac4-3237-4f2a-8a79-3e24297a7040\\\"],\\\"Programming
        TypeScript Making your Ja[...]
- request:
    body: f.req=%5Bnull%2C%22%5B%5B%5B%5B%5C%22fdfc8ac4-3237-4f2a-8a79-3e24297a7040%5C%22%5D%5D%2C%5B%5B%5C%221fcb3727-8105-404d-9678-f7cf2c00f7da%5C%22%5D%5D%5D%2C%5C%22Summarize%20the%20key%20points%20from%20these%20sources.%5C%22%2Cnull%2C%5B2%2Cnull%2C%5B1%5D%5D%2C%5C%229cd69fd7-fa45-4947-bc94-fa1bfaf51188%5C%22%5D%22%5D&at=SCRUBBED_CSRF%3A1769205270619&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://noteb[...]
