interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\"th[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780267421791&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n207110\n[[\"wrb.fr\",\"wXbhsf\",\"[[[\\\"E2E-Generation-4b733b3b\\\",[[[\\\"f8cb3722-8518-4c33-b744-8eb435f3ad32\\\"],\\\"SCRUBBED_NAME\\\",[null,161,[1779504513,922019000],[\\\"b609f7b9-6312-4e95-b6ad-3ff940f561a8\[...]
- request:
    body: f.req=%5B%5B%5B%22CCqFvf%22%2C%22%5B%5C%22VCR%20CLI%20Test%20Notebook%5C%22%2Cnull%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780267421791&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=CCqFvf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        320

        [["wrb.fr","CCqFvf","[\"VCR CLI Test Notebook\",null,\"ea4da50c-7138-47e1-a760-80dbf4f3535f\",null,null,[1,false,true,null,null,null,1,null,null,null,null,null,false],null,null,null,null,null,[[\"6d95347b-e52b-47d7-b6ae-199dc0861106\"]]]",null,null,null,"generic"],["di",238],["af.httprm",238,"-8017365380658002222",11]]

        23

        [["e",4,null,null,358]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
