interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebooklm.google.com/
  response:
    body:
      string: ''
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-type:
      - application/binary
      location:
      - https://notebook.google.com/
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebook.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Gemini
        Notebook</title><link rel=\"canonical\" href=\"https://notebook.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, Gemini Notebook is your powerful virtual research assistant
        rooted in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\[...]
- request:
    body: f.req=%5B%5B%5B%22I3xc3c%22%2C%22%5B%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%2C3%5D%5D%5D%2Cnull%2C3%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1785840748750&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=I3xc3c&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    b[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1785840748750&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        53

        [["wrb.fr","wXbhsf","[[]]",null,null,null,"generic"]]

        56

        [["di",176],["af.httprm",176,"-4089773503214331159",11]]

        25

        [["e",4,null,null,70660]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22le8sX%22%2C%22%5B%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%2C3%5D%5D%5D%2Cnull%2C%5C%227e2d0dce-e884-49cc-80db-47867419e291%5C%22%2C%5B%5Bnull%2Cnull%2Cnull%2C%5B%5B%5C%226b9229e9-973d-4ac6-91b7-4628a0a53c60%5C%22%5D%5D%5D%2C%5B%5D%5D%2C3%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1785840748750&
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=le8sX&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        104

        [["wrb.fr","le8sX","[]",null,null,null,"generic"],["di",129],["af.httprm",128,"3860744608806255801",11]]

        23

        [["e",4,null,null,142]]

        '
    headers:
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      content-disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
