interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/?authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\"th[...]
- request:
    body: f.req=%5B%5B%5B%22rLM1Ne%22%2C%22%5B%5C%22f7d1e2b6-2334-4016-b81d-aded7b3fa9b6%5C%22%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%2Cnull%2C0%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780152877667&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=rLM1Ne&source-path=%2Fnotebook%2Ff7d1e2b6-2334-4016-b81d-aded7b3fa9b6&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ")]}'\n\n605\n[[\"wrb.fr\",\"rLM1Ne\",\"[[\\\"E2E-Generation-4b733b3b\\\",[[[\\\"f8cb3722-8518-4c33-b744-8eb435f3ad32\\\"],\\\"SCRUBBED_NAME\\\",[null,161,[1779504513,922019000],[\\\"b609f7b9-6312-4e95-b6ad-3ff940f561a8\\\",[1779504513,701660000]],8,null,1,null,347,null,null,null,null,null,[1779504514,458707000]],[null,2]]],\\\"f7d1e2b6-2334-4016-b81d-aded7b3fa9b6\\\",\\\"\U0001F916\\\",null,[1,false,true,null,null,[1780152878,31144000],1,false,[1779504513,624470000],null,null,null,false,true,1,false,null,true,1],null,null,null,[true,true,true],[6,500,300,500000,2]]]\",null,null,null,\"generic\"],[\"di\",171],[\"af.httprm\",170,\"5864570261043042838\",7]]\n23\n[[\"e\",4,null,null,659]]\n"
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22R7cb6c%22%2C%22%5B%5B2%5D%2C%5C%22f7d1e2b6-2334-4016-b81d-aded7b3fa9b6%5C%22%2C%5Bnull%2Cnull%2C4%2C%5B%5B%5B%5C%22f8cb3722-8518-4c33-b744-8eb435f3ad32%5C%22%5D%5D%5D%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5Bnull%2C%5B4%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780152877667&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/d[...]
- request:
    body: f.req=%5B%5B%5B%22gArtLc%22%2C%22%5B%5B2%5D%2C%5C%22f7d1e2b6-2334-4016-b81d-aded7b3fa9b6%5C%22%2C%5C%22NOT%20artifact.status%20%3D%20%5C%5C%5C%22ARTIFACT_STATUS_SUGGESTED%5C%5C%5C%22%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780152877667&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=gArtLc&source-path=%2Fnotebook%2F[...]
[...]
- request:
    body: f.req=%5B%5B%5B%22cFji9%22%2C%22%5B%5C%22f7d1e2b6-2334-4016-b81d-aded7b3fa9b6%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780152877667&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=cFji9&source-path=%2Fnotebook%2Ff7d1e2b6-2334-4016-b81d-aded7b3fa9b6&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  response:
    body:
      string: ')]}''


        298

        [["wrb.fr","cFji9","[[[\"5700a81b-c972-4eef-bbbd-89773c8c998e\",[\"5700a81b-c972-4eef-bbbd-89773c8c998e\",\"DAFdsf\",[1,\"400237754469\",[1780130519,424378000]],null,\"This
        is my new note\"]]],[1780152966,184012000]]",null,null,null,"generic"],["di",137],["af.httprm",137,"-7096227125070224383",6]]

        23

        [["e",4,null,null,336]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22v9rmvd%22%2C%22%5B%5C%222dd506be-ac57-4dfa-84b5-5c57b1890749%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1780152877667&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=v9rmvd&source-path=%2Fnotebook%2Ff7d1e2b6-2334-4016-b81d-aded7b3fa9b6&f.sid=SCRUBBED&hl=en&rt=c&authuser=SCRUBBED_EMAIL%40example.com
  r[...]
