interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta name=\"description\" content=\"Use the power of AI for quick summarization and note taking, NotebookLM is your powerful virtual research assistant rooted in information you can trust.\"><meta property=\"og:title\" content=\"Google NotebookLM | Note Taking &amp; Research Assistant Powered by AI\"><meta property=\"og:image\" content=\"https://notebooklm.google.com/_/static/branding/v5/og/notebook_lm_shar[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1768312210632&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&rt=c
  response:
    body:
      string: ")]}'\n\n95520\n[[\"wrb.fr\",\"wXbhsf\",\"[[[\\\"GENERATION: Claude Code Deep Dive: Skills, Agents, Commands \\\\u0026 Plugins\\\",[[[\\\"45cbeb85-a1ee-42b5-b4a4-888b01393fe9\\\"],\\\"Adding Semantic Code Search to Claude Code : r/ClaudeAI - Reddit\\\",[null,3765,[176[...]
