interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://notebook.google.com/
  response:
    body:
      string: "<!doctype html><html lang=\"en\" dir=\"ltr\"><head><base href=\"https://notebooklm.google.com/\"><link
        rel=\"preconnect\" href=\"//www.gstatic.com\"><meta name=\"referrer\" content=\"origin\"><title>Google
        NotebookLM</title><link rel=\"canonical\" href=\"https://notebooklm.google.com/\"><meta
        name=\"description\" content=\"Use the power of AI for quick summarization
        and note taking, NotebookLM is your powerful virtual research assistant rooted
        in information you can trust.\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, interactive-widget=resizes-content\"><meta name=\"theme-color\"
        media=\"(prefers-color-scheme: light)\" content=\"#000000\"><meta name=\"th[...]
- request:
    body: f.req=%5B%5B%5B%22wXbhsf%22%2C%22%5Bnull%2C1%2Cnull%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1781268024036&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=wXbhsf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ")]}'\n\n62235\n[[\"wrb.fr\",\"wXbhsf\",\"[[[\\\"VCR Generation Notebook
        (Tier 8)\\\",[[[\\\"466b9ee3-c1ce-45ef-861c-1d4bfcd939ad\\\"],\\\"NotebookLM
        - Wikipedia\\\",[null,4650,[1778847242,565441000],[\\\"940b822f-383f-4be5-85ae-e6f1277ce25e\\\",[...]
- request:
    body: f.req=%5B%5B%5B%22CCqFvf%22%2C%22%5B%5C%22T8.E7%20deep-research%20scratch%206cb9fadd%5C%22%2Cnull%2Cnull%2C%5B2%2Cnull%2Cnull%2C%5B1%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1781268024036&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=CCqFvf&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        334

        [["wrb.fr","CCqFvf","[\"T8.E7 deep-research scratch 6cb9fadd\",null,\"fb02eaba-813b-489f-9b97-e750a7fe0f2a\",null,null,[1,false,true,null,null,null,1,null,null,null,null,null,false],null,null,null,null,null,[[\"06fc0c5f-8476-4909-a139-ddce7daa9eb4\"]]]",null,null,null,"generic"],["di",255],["af.httprm",254,"5048346791609886772",11]]

        23

        [["e",4,null,null,372]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22izAoDd%22%2C%22%5B%5B%5Bnull%2C%5B%5C%22Photosynthesis%20%28Wikipedia%20excerpt%29%5C%22%2C%5C%22Photosynthesis%20is%20a%20biological%20process%20used%20by%20plants%2C%20algae%2C%20and%20certain%20bacteria%20to%20convert%20light%20energy%2C%20typically%20from%20the%20Sun%2C%20into%20chemical%20energy%20stored%20in%20organic%20compounds%20such%20as%20sugars.%20Most%20photosynthetic%20organisms%20also%20produce%20oxygen%20as%20a%20byproduct%2C%20and%20the%20o[...]
[...]
- request:
    body: f.req=%5B%5B%5B%22QA9ei%22%2C%22%5Bnull%2C%5B1%5D%2C%5B%5C%22Compare%20the%20key%20themes%20across%20the%20sources%5C%22%2C1%5D%2C5%2C%5C%22fb02eaba-813b-489f-9b97-e750a7fe0f2a%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1781268024036&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=QA9ei&source-path=%2Fnotebook%2Ffb02eaba-813b-489f-9b97-e750a7fe0f2a&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        190

        [["wrb.fr","QA9ei","[\"e03aae66-7611-4861-beeb-fcae8dfd7504\",\"e87d7bbe-4c25-4f69-aa17-ba0f8724c8c2\"]",null,null,null,"generic"],["di",18272],["af.httprm",18272,"-1231278250472871380",10]]

        23

        [["e",4,null,null,228]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: f.req=%5B%5B%5B%22e3bVqc%22%2C%22%5Bnull%2Cnull%2C%5C%22fb02eaba-813b-489f-9b97-e750a7fe0f2a%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1781268024036&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=e3bVqc&source-path=%2Fnotebook%2Ffb02eaba-813b-489f-9b97-e750a7fe0f2a&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        398

        [["wrb.fr","e3bVqc","[[[\"e87d7bbe-4c25-4f69-aa17-ba0f8724c8c2\",[\"fb02eaba-813b-489f-9b97-e750a7fe0f2a\",[\"Compare
        the key themes across the sources\",1],5,null,1,[\"e03aae66-7611-4861-beeb-fcae8dfd7504\",null,1,null,\"deep_research.flash.prod\"]],[1781268047,990456000],[1781268047,990456000],\"400237754469\"]]]",null,null,null,"generic"],["di",136],["af.httprm",135,"6572252057872989102",11]]

        23

        [["e",4,null,null,436]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: f.req=%5B%5B%5B%22WWINqb%22%2C%22%5B%5B%5C%22fb02eaba-813b-489f-9b97-e750a7fe0f2a%5C%22%5D%2C%5B2%5D%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&at=SCRUBBED_CSRF%3A1781268024036&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://notebook.google.com/_/LabsTailwindUi/data/batchexecute?rpcids=WWINqb&source-path=%2F&f.sid=SCRUBBED&hl=en&rt=c
  response:
    body:
      string: ')]}''


        106

        [["wrb.fr","WWINqb","[]",null,null,null,"generic"],["di",629],["af.httprm",629,"-1548950484801247161",10]]

        23

        [["e",4,null,null,144]]

        '
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Disposition:
      - attachment; filename="response.bin"; filename*=UTF-8''response.bin
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
