channel_name,youtube_id,youtube_title,uptime,status,output_file
mieruca-channel,jXji_Bzd6yI,AI モードの検索クエリはサーチコンソールで取得できるのか？,2026/01/09,pending,
mieruca-channel,vyM5Sn0lMQc,SEOのペルソナを生成AIで作ってみよう,2026/01/21,pending,
PIVOT 公式チャンネル,DTCwUOd08-I,Copilot活用術 vol.1,2024/07/26,pending,
